.row
  .info.col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2
    %p.lead The VanRuby Hero Awards recognizes influential devs in the Vancouver Ruby community.
    %p
      Great work and commitment deserves recognition.
      Vancouver is full of talented Ruby developers who contribute to open-source,
      develop gems and share good vibes at VanRuby events.
      The VanRuby Hero Awards gives those people recognition.
      Please take the time to
      %a{href: "#", onclick: "$('#vote-button').click()"}nominate your VanRuby Hero.
      The winners will be announced on Thursday, August 28, 2014 at the
      %a{href: "http://www.meetup.com/vancouver-ruby/events/201652652/"} #VanRuby Summer BBQ.
