---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/INVALID_GITHUB_USER_1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '31'
      X-Ratelimit-Reset:
      - '1409101905'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Wed, 27 Aug 2014 01:07:56 GMT
- request:
    method: get
    uri: https://api.github.com/users/chancancode
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Reset:
      - '1409101905'
      Last-Modified:
      - Tue, 26 Aug 2014 18:17:41 GMT
      Etag:
      - '"40629039e98978bffb21c4090610af3b"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"chancancode","id":55829,"avatar_url":"https://avatars.githubusercontent.com/u/55829?v=2","gravatar_id":"22bb3e56828870ee9a0dd93aeadbe04a","url":"https://api.github.com/users/chancancode","html_url":"https://github.com/chancancode","followers_url":"https://api.github.com/users/chancancode/followers","following_url":"https://api.github.com/users/chancancode/following{/other_user}","gists_url":"https://api.github.com/users/chancancode/gists{/gist_id}","starred_url":"https://api.github.com/users/chancancode/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chancancode/subscriptions","organizations_url":"https://api.github.com/users/chancancode/orgs","repos_url":"https://api.github.com/users/chancancode/repos","events_url":"https://api.github.com/users/chancancode/events{/privacy}","received_events_url":"https://api.github.com/users/chancancode/received_events","type":"User","site_admin":false,"name":"Godfrey
        Chan","company":null,"blog":"http://about.me/godfreychan","location":null,"email":"","hireable":false,"bio":null,"public_repos":62,"public_gists":27,"followers":70,"following":4,"created_at":"2009-02-19T09:01:38Z","updated_at":"2014-08-26T18:17:41Z"}'
  recorded_at: Wed, 27 Aug 2014 01:07:57 GMT
recorded_with: VCR 2.9.0
