// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather+Sans:800);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
  background: #FDFBF8;
  padding-top: 90px;
  padding-bottom: 120px;
  position: relative;
  color: #333;
  line-height: 1.25;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

a, button {
  color: #DA0606;
  text-decoration: none;
  outline: none;
}

a:hover, a:focus {
  color: #e75854;
}




h1.title {
  background: #161214;
  border-bottom: 1px solid #262224;
  color: #f6f6f6;
  font-weight: 300;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 24px;
  height: 60px;
  left: 0;
  margin-top: 0;
  padding: 18px 0 20px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 3;
}

div.nominations {
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  margin-top: 40px;
  padding: 8px;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f7f7f7;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #fcfcfc;
}
.table > tbody > tr > .nominee-thumb {
  max-width: 10%;
}
.table > tbody > tr > .nominee-name {
  font-family: 'Lato', Arial, sans-serif;
  width: 22%;
}
.table > tbody > tr > .nominee-reason p {
  font-size: 17px;
  margin-bottom: 14px;
  line-height: 24px;
}
.table > tbody > tr > .nominee-reason blockquote {
  font-size: 15px;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.table > tbody > tr > .nominee-reason .voter-name {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: bold;
  margin: 8px;
}
.table > tbody > tr > .nominee-reason img {
  margin-right: 10px;
  opacity: 0.9;
}
.table > tbody > tr > .nominee-reason img:hover {
  opacity: 1;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  border-top: 0;
  padding: 8px;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: 0;
  }
  .table > tbody > tr > .nominee-thumb {
    max-width: 10%;
    width: 10%;
  }
}

.info {
  margin-top: 20px;
}
.info p {
  color: #888;
  font-size: 15px;
  line-height: 24px;
}
.info p.lead {
  color: initial;
  font-size: 19px;
  line-height: 30px;
}

.no-js .joiner {
  display: block;
}

.js .fixed-block {
  min-height: 300px;
  position: relative;
}

.button-wrapper {
  border-top: 1px solid #dadada;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.05);
  background: #fff;
  bottom: 0;
  height: 60px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.mockup-left {
  float: left;
  max-width: 100%;
  overflow: hidden;
  width: 300px;
  margin: 0 40px 50px 0;
  background: rgba(0,0,0,0.1);
  height: 400px;
  position: relative;
}

.mockup-left::after {
  content:'\2234';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0,0,0,0.05);
  font-size: 15em;
}

.mockup-right {
  text-align: left;
}


.pushed.container {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}

@media screen and (max-width: 770px) {
  .mockup-left {
    float: none;
    margin: 0 auto 20px;
  }

  .mockup-right {
    text-align: center;
  }

  .joiner {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .mockup-content > span:nth-last-child(2) {
    width: calc(100% - 210px);
  }
}


.close-x {
  z-index: 100;
  display: block;
  overflow: hidden;
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3;
  cursor: pointer;
}

.close-x {
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-x:hover {
  color: #ccc;
}

/* Styles for dummy content */

/* Style for overlay */

.content-style-overlay {
  padding: 100px 50px;
  text-align: center;
}

.content-style-overlay h2 {
  margin: 0 0 1em 0;
  padding: 0;
  font-weight: 300;
  font-size: 3em;
}

.content-style-overlay p {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 700px;
  text-align: justify;
  font-weight: 300;
  font-size: 1.5em;
}

.content-style-overlay .close-x {
  border: 2px solid #f9e1c9;
  border-radius: 50%;
  line-height: 2.8;
}

.content-style-overlay .close-x:hover {
  border-color: #a50a05;
}

/* Style for text modal */
.content-style-text {
  padding: 60px;
  text-align: left;
}

.content-style-text h2 {
  margin: 0 0 0.5em 0;
  font-weight: 300;
  font-size: 1.85em;
}

.content-style-text p {
  color: rgba(255,255,255,0.8);
  font-weight: 300;
  font-size: 1.15em;
  line-height: 1.4;
}

.content-style-text label {
  padding: 10px;
  color: #f9e1c9;
  font-weight: bold;
}

.content-style-text .close-x {
  top: 0;
  right: 0;
  color: rgba(0,0,0,0.2);
}

.content-style-text .close-x:hover {
  color: #f9e1c9;
}

/* Style for form modal */
.content-style-form {
  position: relative;
  text-align: left;
}

.content-style-form h2 {
  margin: 0;
  padding: 0.75em 0 0.4em;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

.content-style-form form {
  padding: 10px 30px;
}

.content-style-form form p {
  color: #E2C9A3;
  margin: 0 0 15px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.content-style-form form p strong {
  color: #fff;
}

.content-style-form label {
  display: block;
  padding: 6px 0 0;
  color: #E2C9A3;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.content-style-form textarea {
  height: 60px;
}

.content-style-form input[type="text"],
.content-style-form textarea,
.content-style-form input.btn {
  padding: 0px 10px;
  width: 100%;
  border: 2px solid #fff;
  border-radius: 2px;
  background: #fff;
  color: #CC2424;
  font-weight: 300;
  font-size: 19px;
}

.content-style-form .input-group-addon {
  background: #E93838;
  color: #fff;
  border: 2px solid #fff;
  border-right: 0;
  padding: 1px 8px;
}

.content-style-form input[type="text"]:focus,
.content-style-form textarea:focus,
.content-style-form input.btn:focus {
  border-color: #fff;
  color: #CC2424;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
  outline: 0;
}

.content-style-form input[type="text"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.content-style-form input.btn {
  margin-top: 10px;
  padding: 5px;
}
.content-style-form input.btn:hover {
  background: rgba(255,255,255,0.9);
}

.content-style-form button {
  display: block;
  margin-top: 50px;
  padding: 1.5em;
  width: 100%;
  border: none;
  background: #e75854;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1.25em;
}

.content-style-form .close-x {
  top: 0;
  right: 0;
  color: #ebd3bd;
  font-size: 16px;
}

.content-style-form .close-x:hover {
  color: #fff;
}

.js .content-style-form-1 h2,
.js .content-style-form-1 p,
.js .content-style-form-1 .form-group,
.js .content-style-form-1 .close-x {
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.35s, -webkit-transform 0.2s 0.35s;
  transition: opacity 0.2s 0.35s, transform 0.2s 0.35s;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
}

.content-style-form-1 p:first-child {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.content-style-form-1 p:nth-child(2) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.content-style-form-1 .form-group:nth-child(1) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.content-style-form-1 .form-group:nth-child(2) {
  -webkit-transition-delay: 0.55s;
  transition-delay: 0.55s;
}

.content-style-form-1 .form-group:nth-child(3) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.65s;
}

.morph-button.open .content-style-form-1 h2,
.morph-button.open .content-style-form-1 p,
.morph-button.open .content-style-form-1 .form-group,
.morph-button.open .content-style-form-1 .close-x {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.morph-button-inflow-2 > button svg {
  display: inline-block;
  padding-right: 10px;
  width: 20px;
  height: 20px;
  vertical-align: -5%;
}

.morph-button-inflow-2 > button svg path {
  fill: #e75854;
}

.content-style-social a {
  display: block;
  padding: 0.5em 0;
  color: #67c2d4;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 32px;
}

.js .content-style-social a {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

@media screen and (max-width: 770px) {
  .content-style-overlay {
    font-size: 75%;
  }

  .content-style-overlay .close-x {
    top: 5px;
    right: 5px;
  }
}

















/* Morph Button: Default Styles */

.morph-button {
  position: relative;
  display: block;
  margin: 0 auto;
}

.morph-button > button {
  position: relative;
  padding: 0 1em;
  border: none;
  background-color: #e85657;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 40px;
  overflow: hidden;
}

.morph-button > button:hover {
  background-color: #ec4647;
}

.morph-button.open > button {
  pointer-events: none;
}

.morph-content {
  pointer-events: none;
}

.morph-button.open .morph-content {
  pointer-events: auto;
}

/* Common styles for overlay and modal type (fixed morph) */
.morph-button-fixed,
.morph-button-fixed .morph-content {
  width: 300px;
  height: 40px;
}

.morph-button-fixed > button {
  z-index: 1000;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.1s 0.5s;
  transition: opacity 0.1s 0.5s;
}

.morph-button-fixed.open > button {
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.morph-button-fixed .morph-content {
  position: fixed;
  z-index: 900;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-fixed.open .morph-content {
  opacity: 1;
}

.morph-button-fixed .morph-content > div {
  visibility: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
  transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

.morph-button-fixed.open .morph-content > div {
  visibility: visible;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

.morph-button-fixed.active > button {
  z-index: 2000;
}

.morph-button-fixed.active .morph-content {
  z-index: 1900;
}

/* Transitions for overlay button and sidebar button */
.morph-button-overlay .morph-content {
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}

.morph-button-overlay.open .morph-content {
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}

/* Morph Button Style: Overlay */
.morph-button.morph-button-overlay {
  margin: 50px auto;
}

.morph-button-overlay .morph-content {
  overflow: hidden;
  background: #e85657;
}

.morph-button-overlay.open .morph-content {
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
}

/* Morph Button Style: Modal */
.morph-button-modal::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  pointer-events: none;
}

.morph-button-modal.open::before {
  opacity: 1;
  pointer-events: auto;
}

.morph-button-modal.active::before {
  z-index: 1800;
}

.morph-button-modal .morph-content {
  overflow: hidden;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-modal.open .morph-content {
  top: 50% !important;
  left: 50% !important;
  margin: -210px 0 0 -300px;
  width: 600px;
  height: 420px;
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

/* Colors and sizes for individual modals */
.morph-button.morph-button-modal-2 {
  display: inline-block;
  margin: 10px 15px;
}

.morph-button-modal-2 > button {
  font-size: 18px;
}

.morph-button-modal-2 > button,
.morph-button-modal-2 .morph-content {
  background-color: #E93838;
  color: #fff;
}

.morph-button-modal-2.open .morph-content {
  margin: -310px 0 0 -220px;
  width: 440px;
  height: 620px;
}


.morph-button-modal-2.open .morph-content > div {
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}

/* Morph Button Style: In the content flow */
.morph-button-inflow {
  overflow: hidden;
  max-width: 100%;
  height: 70px;
}

.morph-button-inflow > button {
  width: 100%;
  line-height: 70px;
}

.morph-button-inflow .morph-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.morph-button-inflow .morph-content .morph-clone {
  padding: 0;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 70px;
}

/* Colors and sizes for individual in flow buttons */
.morph-button-inflow-1 {
  width: 600px;
  margin: 2em auto;
  -webkit-transition: height 0.5s cubic-bezier(0.7,0,0.3,1);
  transition: height 0.5s cubic-bezier(0.7,0,0.3,1);
}

.morph-button-inflow-1 > button span {
  visibility: hidden;
}

.morph-button-inflow-1 .morph-content .morph-clone {
  color: #f9f6e5;
  background: #e85657;
}

.morph-button-inflow-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  background-color: #fef0e3;
  -webkit-transition: height 0.3s, width 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, width 0.3s, transform 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.morph-button-inflow-2 > button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #e75854;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.morph-button-inflow-2.open > button {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.morph-button-inflow-2 .morph-content {
  width: 260px;
  height: 200px;
}

.morph-button-inflow-2.open {
  width: 260px;
}


/* Let's add some nice easing for all cases */
.morph-button .morph-content,
.morph-button.open .morph-content {
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Helper classes */
.noscroll {
  overflow: hidden;
}

.morph-button-overlay.scroll .morph-content {
  overflow-y: scroll;
}

/* No JS fallback: let's hide the button and show the content */
.no-js .morph-button > button {
  display: none;
}

.no-js .morph-button {
  margin: 10px 0;
  float: none;
}

.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content > div {
  position: relative;
  width: auto;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: auto;
  left: auto;
  -webkit-transform: none;
  transform: none;
  pointer-events: auto;
}

.no-js .morph-button .morph-content .close-x {
  display: none;
}


.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  .morph-button-modal.open .morph-content {
    top: 0% !important;
    left: 0% !important;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  }
}

@media screen and (max-width: 400px) {
  .morph-button-fixed,
  .morph-button-fixed .morph-content {
    width: 300px;
    height: 40px;
  }

  .morph-button-inflow .morph-content .morph-clone {
    font-size: 0.9em;
  }

}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: #fff;
}
.help-block {
  font-size: 14px;
}

.has-error .form-control,
.has-error .form-control:focus {
  border-color: #fff;
}

.has-error.form-group {
  border: 2px solid #fff;
  padding: 0 10px;
}
.has-error input[type="text"],
.has-error textarea {
  background: rgba(255,255,255,0.8);
}

.alert {
  background: #fff;
  font-size: 18px;
}
.alert.alert-success {
  border: 2px dotted #5ED15E;
  color: #3EC83E;
}



/* Dash */

.dash .nominee-thumb {
  position: relative;
}
.dash .nominee-thumb .img-circle {
  box-shadow: 1px 1px 3px rgba(0,0,0,0.13);
  position: relative;
}
.dash .nominee-thumb.visible {
  left: 22px;
  position: absolute;
  top: 0;
  max-width: 100%;
  width: 160px;
  z-index: 2000;
}
.dash .nominee-thumb.visible h4 {
  color: #fff;
}
.dash .nominee-thumb.visible a.small {
  color: #aaa;
}
.dash .nominee-thumb.visible .img-circle {
  box-shadow: 1px 1px 3px rgba(255,255,255,0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.80);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  pointer-events: none;

  z-index: 2;
}
.overlay.visible {
  opacity: 1;
}
.animate {
  opacity: 0;
  transition: all 1s;
}
.reason-bridge {
  color: #ccc;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 20px;
  height: 1px;
  left: 160px;
  margin: 0 auto;
  position: relative;
  padding: 20px;
  top: -10px;
  width: 100%;
  z-index: 5000;
}
.dash .reason-bridge em {
  color: #fff;
  font-family: Serif;
  font-size: 30px;
}
.reason-bridge.visible {
  opacity: 1;
}
.dash table {
  transition: margin-top 1s;
}
.dash .slide-down {
  margin-top: 190px;
}
